{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}

<div class="container"></div>

{# header #}
<div class="row" id="bigCircle">

    <div class="col-sm-8" >
       <h4>Nombre de contact : {{ totalContact }} | Dernière mise à jour : {{ lastDate }}</h4>  
    </div>
    <div class="col-sm-2" >
        <a href="{{ path('contact_new') }}"><i class="fas fa-plus-circle fa-2x" ></i></a>
    </div>
    
</div>
{# contact card #}
<div class="row">

    <div class="col-md-8">

{% for contact in contacts %}
 
    <div class="card" style="width:400px" >
        <div class="row" >

            <div class="col-sm-6" >                
                  <h4 class="card-title">{{ contact.name }} {{ contact.firstName }}</h4>
                  <p class="card-text">{{ contact.phoneNumber }}</p>                  
            </div>

            <div class="col-sm-6">
                <div class="row" id="icone">
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}"><i class="fas fa-pen"></i></a>
                    <a href="{{ path('contact_delete', {'id': contact.id}) }}"><i class="fas fa-times"></i></a>
                   
                </div>
                <img class="card-img" src="{{ asset('/uploads/contact/' ~ contact.photo) }}" alt="profile picture of {{ contact.firstName }}"/>
                
            </div>
            
        </div>
    </div>
{% else %}
    <tr>
        <td colspan="7">no records found</td>
    </tr>
{% endfor %}

    </div>
    {# searchbar #}
    <div class="col-sm-2" id="searchbar">

        <form action="{{ path('contact_index') }}" method="get">
            <button type="submit">*</button><br>
            <button type="submit" value='letter:a'>A</button><br>
            <button type="button" value="b">B</button><br>
            <button type="button" value="c">C</button><br>
            <button type="button" value="d">D</button><br>
            <button type="button" value="e">E</button><br>
            <button type="button" value="f">F</button><br>
            <button type="button" value="g">G</button><br>
            <button type="button" value="h">H</button><br>
            <button type="button" value="i">I</button><br>
            <button type="button" value="j">J</button><br>
            <button type="button" value="k">K</button><br>
            <button type="button" value="l">L</button><br>
            <button type="button" value="m">M</button><br>
        </form>  

    </div> 

</div>

</div>
      
{% endblock %}
